* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial;
}

header {
  text-align: center;
  background: rgb(125, 21, 21);
  color: black;
  padding: 1em;
}

h1 {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 900;
}

.form-inline {
  display: inline !important;
}

.form-control {
  width: 30% !important;
}

section {
  background: lightblue;
  padding: 0 20%;
}

.card-grid {
  /* display: flex;
	justify-content: center; */
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 10px;
  padding: 10px;
}

.card {
  /* height: 300px; */
  /* width: 32%; */
  background: white;
  margin: 5px;
}

footer {
  font-size: 20px;
  background: rgb(125, 21, 21);
  color: black;
  text-align: center;
  padding: 0.25em;
  width: 100%;
  position: fixed;
  bottom: 0;
}
